<h1>Welcome to your profile, <%=@user.username%></h1>

<h3>Here are your questions:</h3>
<% @questions.each do |question| %>
<div>
  <%= link_to question.title, question_path %>
</div>
<%end%>

<h3>Here are questions you have answered:</h3>
<% @answers.each do |answer| %>
<div>
  <%= link_to answer.question.title, question_path %>
</div>
<%end%>

<h3>Here are questions/answers you have commented on:</h3>
<% @comments.each do |comment| %>
<div>

</div>
<%end%>
