<li class="answer-list-item"><%= answer.content %> - <%= link_to answer.responder, user_path(responder) %> <%= std_format_date answer.created_at %>
  <ul>
  <% answer_comments.each do |answer_comment| %>
    <%= render partial: 'comment', locals: {comment: answer_comment} %>
  <% end %>
</li>

