<div class="answer-up-vote">
  <img src="http://i.imgur.com/nFn8U6a.png" class='up-arrow'>
</div>
<div class='answer-vote-count'><%=answer.vote_count%></div>
<div class="answer-down-vote">
  <img src="http://www.clker.com/cliparts/d/A/H/R/z/3/red-down-arrow-hi.png" class='down-arrow'>
</div>